body {
	margin : 0em;
}


#####################
##### Menu CSS ######
#####################


ul > li {
	width : 15em;
	position : relative;
}

li > ul {
	width : 15em;
	position : absolute;
	left : 15em;
	top : 0;
	display: none;
}

ul {
	width : 15em;
	margin : 0;
	padding : 0;
	list-style : none;
}

#menu a:link, #menu a:active, #menu a:visited {
	display : block;
	font-family: "Arial", Helvetica, sans-serif;
	text-decoration : none;
	color : #D96500;
   	font-size: 12px;
    padding : 5px 5px;
    border : 1px solid #292828;
    background-color : #101010;
 }

#menu a:hover {
    background-color : #101010;
    color : #F9F9F9;
}

#menu li:hover > ul { 
	display : block;
}



